{% extends "base.html" %}

{% load static %}

{% block custom_style %}
	<!-- Custom styles for this template -->
	<link href="{% static 'tunesApp/album_info.css' %}" rel="stylesheet">
{% endblock custom_style %}

{% block title %}Album Info{% endblock title %}

{% block content %}

<h1>Songs in Album: 
{% for trans in masterList|slice:":1" %}
'{{ trans.album_name }}'
{% endfor %}
</h1>
	{% for trans in masterList %}
		<h2>	
			{{ forloop.counter }}. <a href="/favorites/songs/{{ trans.song_id }}/">{{ trans.title }}</a>
			<br />	
		</h2>
	{% endfor %}
{% endblock %}
