{% extends "base.html" %}

{% load static %}

{% block custom_style %}
	<!-- Custom styles for this template -->
	<link href="{% static 'tunesApp/fav_pages.css' %}" rel="stylesheet">
{% endblock custom_style %}

{% block title %}Favorite Genres{% endblock title %}


{% block content %}

<div class="container-fluid"></div>

  <h1>Favorite Genres</h1>
  <div class="row">
    <div class="col-sm-2">
	  <h4>ID</h4>
	</div>
	<div class="col-sm-6 text-center">
	  <h4>Genre Label</h4>
	</div>
	<div class="col-sm-2">
	  <h4>Delete?</h4>
	</div>
	<div class="col-sm-2 text-right">
	  <h4>Rating</h4>
	</div>
  </div>
  
  <form action="/favorites/genres" method="post" id="favGenres_form" class="form-horizontal">
	{% csrf_token %}
  
   {{ formset.management_form }}
  
  {% for trans, form in data %}
  
  <!-- <input type="hidden" name="genre-{{ forloop.counter|add:'-1' }}-gl_id" value="{{ trans.gl_id }}" id="id_genre-{{ forloop.counter|add:'-1' }}-gl_id"> -->
  
  <div class="row">
    <div class="col-sm-2 text-left">
	  <h5>{{ trans.genre_id }}</h5>
	  {{ form.gl_id }}
	  {{ form.genre_id }}
	</div>
	
	
	<div class="col-sm-6">
	  <h5>{{ trans.genre_label }}</h5>
	  {{ form.genre_label }}
	</div>
	<div class="col-sm-2 text-center">
		<!-- <div class="form-check">
		  <input type="checkbox" class="form-check-input" id="exampleCheck">
		</div> -->
		{{ form.gl_delete }}
	</div>
	<div class="col-sm-2 text-right">
		
		{{ form.genre_rating }}
		<!-- <input class="form-control" type="number" name="genre-{{ forloop.counter }}-genre_rating" value="{{ trans.genre_rating }}" id="id_genre-{{ forloop.counter }}-genre_rating"> -->
		<!-- <input class="form-control" type="number" name="gl_rating" value="{{ trans.genre_rating }}"> -->


	</div>
	<br/>
  </div>
  {% endfor %}
 
  	<div class="form-group row">
		<div class="col-sm-3 center">
			<input class="btn btn-primary" type="submit" value="Submit">
		</div>
	</div>
</form>
	
</div>


	
{% endblock %}

{% block jquery_content %}
  <script src="{% static 'tunesApp/change_button.js' %}"></script>
{% endblock %}
