{% extends "base.html" %}
{% block content %}
<p>Hello, favorite songs!</p>
	{% for trans in masterList %}
		<p>
			{{trans.song_id}}
			{{trans.title}}
			{{trans.song_key}}
			{{trans.duration}}
			{{trans.energy}}
			{{trans.tempo}}
			{{trans.danceability}}
			{{trans.time_signature}}
			{{trans.year}}
			{{trans.writer}}
			{{trans.loudness}}
			{{trans.count}}
			{{trans.rating}}
			<a href="/album_info/{{ trans.album_id }}">{{ trans.album_name }}</a>
			<br/>
		</p>
	{% endfor %}
{% endblock %}
