{% extends "base.html" %}

    {% block custom_style %}
      <!-- Custom styles for this template -->
      <link href="starter-template.css" rel="stylesheet">
    {% endblock custom_style %}
    
   {% block content %}

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Welcome to MyTunes!</h1>
        <p class="lead">Go to the Search page to search songs in our database
        <br> or click on one of the Favorites pages to manage your list of favorites.</p>
      </div>

    </main><!-- /.container -->

  
   {% endblock content %}
